*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav_logo{
    height: 60px;
    width: 113px;
}
.logo img {
    height: 60px;
    width: 113px;
    background-size: cover;
}

.border{
    border:2px solid transparent;
}
.border:hover{
    border: 1px solid whitesmoke;
}

/* Box 2 */

/* .nav_address{
    height: 60px;
    width: 88.50px;
} */
.add_icon{
    display: flex;
    align-items: center;
}

.address_first{
    color: #cccccc;
    font-size: .85rem;
    margin-left: 15px;

}

.address_second{
    font-size: 1rem;
    margin: 4px;
}
/* box 3 search */
.nav_search{
    display: flex;
    justify-content: space-evenly;
    background-color: #009191;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search_select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search_input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search_icon{
    background-color: #F3A847;
    width: 45px;
    height: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: #333333;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}