*{
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,300&family=Rubik+Pixels&display=swap');
body{
font-family: 'Poppins', sans-serif ,'Rubik Pixels', cursive;
}
    

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;

}
 body{
    height: 100vh;
    width: 100vw;
    background-color: #edf1fd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

 }

li{
    list-style: none;
    cursor: pointer;
 }

a{
    text-decoration: none;
}

button{
    background-color: rgb(18,155,155);
    padding:4px 10px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: 700;
    width: fit-content;
}

button:hover {
    background-color: white;
    color: rgb(18,155,155);
    border:1px solid black;
}
